@import url(https://fonts.googleapis.com/css?family=Amiri);
@import url(https://fonts.googleapis.com/css?family=Karla);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #FFFFFF;
}

h1 {
	font-family: 'Amiri', sans-serif;
	text-align: center;
	color: #759172;
	font-size: 3em;
}

#subhead {
	font-family: 'Amiri', sans-serif;
	text-align: center;
	font-size: 1em;
	margin-top: 2.5em;
}

nav {
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	display: block;
	text-align: center;
}

nav a {
	color: #000000;
	font-family:'Amiri', serif;
	font-size: 1.25em;
	font-weight: 500;
	text-decoration: none;
	padding: .5em;
	margin: .5em;
	text-transform: lowercase;
	display: inline-block;
}

a:hover {
	color: #75A091;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	height: 0;
	font-size: 0;
}

#headlinepack {
	width: 30%;
	float: left;
	padding-left: 4.25em;
	margin: 2em auto;
}

#photos {
	width: 60%;
	float: right;
	line-height:0;
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3:;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 0px;

}

#photos img {
	width: 100% !important;
	height: auto !important;
}


@media (max-width: 1200px) {
	#photos {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 1000px) {
	#photos {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 800px) {
	#photos {
		-moz-column-count: 2;
		-webkit-column-count:  2;
		column-count: 2;
	}
}

@media (max-width: 400px) {
	#photos {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

#footer {
	background-color:;
}

