@import url(https://fonts.googleapis.com/css?family=Amiri);
@import url(https://fonts.googleapis.com/css?family=Karla);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #FFFFFF;
}

h1 {
	font-family: 'Amiri', sans-serif;
	text-align: center;
	color: #759172;
	font-size: 3em;
}

#subhead {
	font-family: 'Amiri', sans-serif;
	text-align: center;
	font-size: 1em;
	margin-top: 2.5em;
}

nav {
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	display: block;
	text-align: center;
}

nav a {
	color: #000000;
	font-family:'Amiri', serif;
	font-size: 1.25em;
	font-weight: 500;
	text-decoration: none;
	padding: .5em;
	margin: .5em;
	text-transform: lowercase;
	display: inline-block;
}

a:hover {
	color: #75A091;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	height: 0;
	font-size: 0;
	clear: both;
}

#headlinepack {
	width: 33.33%;
	float: left;
	padding: 2em;
	margin: 4em auto;
	position: fixed;
}

#grid {
	width: 66.66%;
	float: right;
	line-height: 0;
}

#grid img {
	width: 100%;
	display: inline-block;
}

.column {
	width: 33.33%;
	float: left;
}

.thumb {
	position: relative;
	overflow: hidden;
}

.thumb img {
	width: 100%;
	padding: 0;
}

.overlay {
	background-color: rbga(0,0,0,0.75);
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.3s linear;
	text-shadow: #000 1px 1px 0;
	color: #ccc;
	text-align: center;
	text-transform: lowercase;
}

.thumb:hover > .overlay {
	display: block;
	opacity: 1.0;
}

#footer {
	background-color:;
}

@media only screen and (max-width: 1015px) {
	nav a{
		display: block;
	}
}

@media only screen and (max-width: 730px) {
	#headlinepack {
		float: none;
		position: static;
		width: 100%;
		margin: 1em;
		padding: 1em;
	}

	nav a {
		display: inline-block;
	}

	#grid {
		float: none;
		position: static;
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.column {
		float: none;
		width: 100%;
	}
}